*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* 1. Better type contrast */

.page {
  background-color: #eee; /* 1 */
  color: #444; /* 1 */
  font: 1.6rem/1.6 sans-serif;
}

/**
 * A block for representing blocks of code.
 *
 * 1. Show a horizontal scrollbar if code block is wider than viewport/container
 */

.code-block {
  background-color: #ddd;
  color: #222;
  overflow-x: scroll; /* 1 */
  padding: 2rem 3rem;
}
